{% load static %}
<!-- Использованы классы бустрапа для создания типовой навигации с логотипом -->
<!-- В дальнейшем тут будет создано полноценное меню -->
<nav class="navbar navbar-expand-md navbar-light" style="background-color: lightskyblue">
    {% with request.resolver_match.view_name as view_name %}
    <div class="container">
        <a class="navbar-brand" href="{% url 'posts:index' %}">
            <img src="{% static 'img/logo.png' %}" width="30" height="30" class="d-inline-block align-top" alt="">
            <!-- тег span используется для добавления нужных стилей отдельным участкам текста -->
            <span style="color:red">Ya</span>tube
        </a>
        <ul class="nav nav-pills">
            <marquee>
                <ul>С днем рождения: {{birthday}}</ul>
            </marquee>
        </ul>
        <div class="collapse navbar-collapse justify-content-end" id="navbarContent">
            <form class="d-flex" role="search" action="{% url 'posts:index' %}">
                <input class="form-control me-2" type="search" placeholder="Поиск постов" aria-label="Search"
                       name="search">
                <button class="btn btn-outline-secondary" type="submit">Поиск</button>
            </form>
            <ul class="nav nav-pills">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        Об авторе
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'about:author'%}">Об авторе</a></li>
                        <li><a class="dropdown-item" href="{% url 'about:tech'%}">Технологии</a></li>
                        <li><a class="dropdown-item" href="{% url 'about:contact' %}">Обратная связь</a></li>
                    </ul>
                </li>

                {% if request.user.is_authenticated %}
                <li class="nav-item">
                    <a class="nav-link {% if view_name  == 'posts:create_post' %}active{% endif %}"
                       href="{% url 'posts:create_post' %}">
                        Новая запись</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-expanded="false">
                        {{ request.user.username }}
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url 'posts:posts_favourite'%}">Избранные посты</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:authors_following'%}">Избранные авторы</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts:profile' user.username %}">Мои посты</a></li>
                        <li><a class="dropdown-item" href="{% url 'posts_load:posts_load' %}">Массовая загрузка
                            постов</a></li>
                        <li><a class="dropdown-item" href="{% url 'users:password_change_form' %}">Изменить пароль</a>
                        </li>
                        <li><a class="dropdown-item" href="{% url 'users:logout' %}">Выйти</a></li>
                    </ul>

                </li>

                {% else %}
                <li class="nav-item">
                    <a class="nav-link link-light{% if view_name  == 'users:login' %}active{% endif %}"
                       href="{% url 'users:login' %}">
                        Войти</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link link-light{% if view_name  == 'users:signup' %}active{% endif %}"
                       href="{% url 'users:signup' %}">
                        Регистрация</a>
                </li>


                {% endif %}
            </ul>
        </div>
    </div>
    {% endwith %}

</nav>



