{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% block content %}
    <div class="row justify-content-center">
        <div class="col-md-8 p-5">
            <div class="card">
                <div class="card-header">
                    <h1>Привет, я автор - Евгений Березовский</h1><br/>
                    <p>
                        Я учусь программировать на Python. Это мой первый
                        веб-проект.<br/>
                    </p>
                    <p>
                        <a href="https://github.com/reaLm74" target="_blank">Тут
                            можно посмотреть на мои проекты</a><br/>
                    </p>
                    <p>
                        <a href="https://www.linkedin.com/in/realm74/" target="_blank">А тут
                            мои навыки</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %} 