{% extends 'base.html' %}

{% block title %}
Загрузка постов
{% endblock %}

{% load user_filters %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-md-8 p-5">
        <div class="card">
            <div class="card-header">
                Загрузка постов
            </div>
            <div class="card-body">
                <form method="post"
                      enctype="multipart/form-data"
                      action="{% url 'posts_load:posts_load' %}">

                    {% csrf_token %}
                    {{ form.as_p }}

                    <div class="d-flex justify-content-end">
                        <button type="submit" class="btn btn-primary">
                            Загрузить
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}